<div class="calendarHeader">
    <button (click)="changeMonth('-')">Previous</button>
    <span>{{currentDate | date: 'MMMM, y'}}</span>
    <button (click)="changeMonth('+')">Next</button>
</div>
<br>
<br>
<div class="calendarBody">
    <div class="days">
        <span *ngFor="let day of daysOfWeek">{{day}}</span>
    </div>
    <div class="week" *ngFor="let week of daysPerWeek">
        <div  *ngFor="let day of week" (click)="openModalNewEvent(day)">
            <div *ngIf="day.date !== -1">{{day.date | date: 'd'}}</div>
            <div *ngIf="day.date === -1"></div>
        </div>
    </div>
</div>
<div *ngIf="isAddingEvent">
    <form [formGroup]="eventForm" (submit)="saveEvent($event)">
        <label for="title">Título del evento</label>
        <input type="text" formControlName="title">

        <label for="description">Descripción</label>
        <textarea formControlName="description"></textarea>

        <input type="date" formControlName="date" [value]="activeDay" (ngModelChange)="change($event)">

        <button type="submit">Guardar</button>
    </form>
</div>