<body>
    <div>
        <div class="calendarHeader">
            <button (click)="changeMonth('-')">Previous</button>
            <span>{{currentDate | date: 'MMMM, y'}}</span>
            <button (click)="changeMonth('+')">Next</button>
        </div>
        <br>
        <div class="calendarBody">
            <div class="days">
                <span *ngFor="let day of daysOfWeek">{{day}}</span>
            </div>
            <div class="week" *ngFor="let week of daysPerWeek">
                <ng-container  *ngFor="let day of week">
                    <div (click)="openModalNewEvent(day)" [ngClass]="{
                        'disabledDay': day.outOfMonth, 
                        'activeDay': isSameDay(day.date)
                    }"><span>{{day.date | date: 'd'}}</span></div>
                </ng-container>
            </div>
        </div>
    </div>
    <aside *ngIf="isAddingEvent">
        <form [formGroup]="eventForm" (submit)="saveEvent($event)">
            <label for="title">Título</label>
            <input type="text" formControlName="title">
    
            <label for="description">Descripción</label>
            <textarea formControlName="description"></textarea>
    
            <input type="date" formControlName="date" [value]="activeDay" (ngModelChange)="change($event)">
    
            <button type="submit">Guardar</button>
            <button (click)="closeAddEvent()">Cancelar</button>
        </form>
    </aside>
</body>