body{
    display: flex;
    aside {
        width: 25%;
        padding: 5px 20px;
        form {
            display: flex;
            flex-direction: column;
            label {
                padding: 7px 0px;
            }
            input, textarea {
                margin: 5px 0px;
                padding: 5px 0px;
            }
            button {
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
    div {
        width: 100%;
    }
}

.calendarHeader {
    display: flex;
    justify-content: center;
}

.week, .days {
    display: flex;
    width: 100%;
    > div, span {
        display: flex;
        justify-content: center;
        width: 14.3%;
        padding: 5px 0px;
    }

    > div{
        border: 0.5px black solid;
    }
    background-color: none;
}

.days {
    background-color: black;
    color: white;

    > span {
        display: flex;
        justify-content: center;
    }
}

.disabledDay {
    background-color: lightgray;
    color: gray;
}

.activeDay {
    background-color: coral;
    color: white;
}